/* Properties which are inherited by the child element*/

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: red;
  line-height: 1.6;
}

/* Properties which are not inherited by the child element */
body {
  float: left;
  transform: rotate();
  text-decoration: dashed;
  grid-template-columns: 100px 100px 100px;
}


/* Additional styling for demonstration purposes */
h1 {
  color: #007bff; /* Heading color */
}

p {
  font-size: 1.1em; /* Paragraph font size */
}